:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --white: #fff;
}
body {
    background-color: var(--grey);
    display:flexbox;
}

table {
    width: 80%;
    margin: 40px auto;
    background: var(--dark);
    border-radius: 10px;
}

table.list {
    text-align: center;
    width: 100%;
}

td{
    border: 2px solid var(--darkest);
    text-align: left;
    padding: 8px 15px;
    border-radius: 10px;
    background: var(--purple);
}

tr:nth-child(even), table.list thread> tr{
    background-color: var(--light);
}

input[type="text"],input[type="number"]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid var(--darkest);
    border-radius: 15px;
}
input[type="submit"],input[type="reset"]{
    background: var(--dark);
    width: 30%;
    padding: 12px 20px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 2px solid var(--darkest);
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    opacity: 60%;
}
input[type="reset"]:hover{
    opacity: 60%;
}

input:hover{
    opacity: 60%;
}
tbody{
    border: 1px solid var(--darkest);
     
}